.cards {
  @include grid;
  padding: 4rem 0;
  gap: 3rem;
  @include media(md) {
    gap: 2rem;
    padding: 3rem 0;
  }
  @include media(sm) {
    gap: 2rem;
    padding: 2rem 0;
  }
  .card__wrapper {
    position: relative;
    @include media(md) {
      grid-column: 1/13;
      gap: 2rem;
    }
    @include media(sm) {
      grid-column: 1/13;
      gap: 2rem;
    }
    grid-column: span 6;
    .image__container {
      height: 70rem;
      max-width: 100%;
      img {
        width: 100%;
        height: 79%;
        object-fit: cover;
      }
    }
    text-align: left;
    border-radius: 1.5rem;
    position: relative;
    .card__text {
      width: 100%;
      height: 15rem;
      position: absolute;
      bottom: 0;
      background: #fff;
      grid-column: 1/13;
      padding: 2rem 1.5rem;
      p {
        color: #000;
      }
      .link {
        color: $secondaryColor;
      }
    }
  }
}
